header #sp{
    margin-left: 30em;
    font-size: 12px;
}

header{
    width: 1200px;
    margin: auto;
}

*{
    margin: 0px;
    padding: 0px;
}

ul#nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }

  ul#nav li{
    float: left;
  }

  ul#nav li a{
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul#nav li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  ul#nav li a.active {
    color: white;
    background-color: #4CAF50;
  }

div#body{
    width: 1200px;
    margin: 0px auto;
    background-color: #edeaea;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

article{
  display: table-row;
}
aside#left, aside#right, section.body{
    display: table-cell;
    vertical-align: top;
  }

  aside#left{
      width: 240px;
  }
  section.body{
        width: 750px;
        /* padding: 0px 8px; */
        margin: 0px;
  }
  aside#right{
      width: 220px;
  }

  
  aside#left h5, aside#right h5{
    text-transform: uppercase;
    font-weight: 500;
  }

  aside#left>div{
      border: 1px solid #206AB5;
      border-radius: 4px;
      margin-bottom: 10px;
  }

  aside#left>div>h5,section>form>p,section>form b#hello{
      background-color: #206AB5;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      color: white;
      height: 30px;
  }
  aside#left>div>ul{
    list-style-type: none;
    padding-left: 10px;
    font-size: 14px;
    font-family: Arial;
  }
  aside#left>div>ul>li{
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    margin-left: -0.6em;
    /* margin-left: 2em; */
    /* height: 25px; */
    list-style-position: inside;
    list-style-image: url(../Images/icon_list.jpg);
  }

  aside#left>div>ul>li:hover{
    background-color: rgb(162, 162, 163);
  }
  aside#left>div>ul>li>a{
    color:#206AB5;
    text-decoration: none;

  }
  aside#left>div>ul>li>a:hover{
    text-decoration: underline;
  }


  aside#right>div{
      border: 1px solid #206AB5;
      border-radius: 4px;
      margin-bottom: 30px;
  }

  aside#right>div>h5{
    background-color: #206AB5;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    height: 30px;
    padding-top: 5px;
  }

  aside#right>div#sachbannhieu p,aside#right>div#lienketwebsite p, aside#right>div#thongketruycap>p#head{
    background-color: #206AB5;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    color:rgb(94, 42, 42);
    clear: both;
  }

  aside#right>div#sachbannhieu img{
    width: 40px;
    height: 50px;
    padding-left: 5px;
    float: left;
    margin-bottom: 5px;
  }

  aside#right>div#sachbannhieu a{
    text-decoration: none;
    font-size: 9pt;
    font-family: Arial;
    color: #456c26;
    height: 70px;
  }

  aside#right>div#sachbannhieu a:hover{
      font-weight: bold;
  }

  aside#right>div#lienketwebsite select{
      margin: 10px;
      width: 170px;
      height: 30px;
      border-radius: 3px;
      border: #808080 solid 1px;
        text-align: center;
  }

  aside#right>div#thongketruycap{
      background-color: #e1ebf3;
  }

  aside#right>div#thongketruycap>p{
      margin: 10px;
  }
  section>p{
      background: linear-gradient(#a5b4c4, #206AB5, #206AB5);
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      color: white;
      height: 25px;
      padding-top: 5px;
  }

  .sach{
    width: 240px;
    height: 360px;
    background-color: #c7e5f2;
    margin: 3px;
    border-radius: 5px;
    border: 1px dashed #79B22F;
    text-align: center;
    float: left;
  }

  .tensach{
    margin-top: 5px;
    vertical-align: top;
    height: 40px;
  }

  .tensach a{
    font-weight: bold;
    color: #133a62;
    font-size: 14px;
  }

  .tensach a:hover{
    font-style: italic;
  }

  .hinhsach{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 150px;
    height: 200px;
    transform: all 0.5s ease;
  }

  .hinhsach:hover{
    transform: scale(1.1);
  }

  .datMua:hover{
    transform: scale(1.1);
  }

footer{
  background-color: #79b22f;
  height: 100px;
  padding-top: 10px;
}
  footer>p{
    text-align: center;
    font-size: 17px;
    margin-top: 5px;
  }

section.body>fieldset{
  margin: 20px;
  padding: 10em;
}