@charset "utf-8";
/* CSS Document */
*{ margin:0 px;
	padding:0 px;
	
 }
 header {
	 margin:0px auto;
	 width:1200px;
	 border:1px solid black;
	 
 }
 header div#logo{
	 float:left;
 }
 header div#dn{
	 float:right;
 }
 header div#dn a:hover{
	 color:#900;
 }
 nav div{
	 clear:both;
	 width:1200px;
	 margin:0px auto;
	 
 }
 nav div ul li a{
	 text-decoration:none;
	 font-weight:bold;
 }
 nav div ul li{
	 float: left;
	 list-style:none;
	 margin-left:30px;
 }
 nav div ul li:hover a{
	 border-bottom:3px solid #F09;
	 font-family:"Times New Roman", Times, serif;
 }
 div#subnav{
	 background-color:#06F;
	 
 }
nav div input[type=text]
{
	float:right;
}
nav div input[type=submit]
{
	float:right;
	cursor:pointer;
}
nav div#subnav>div input[type=submit]:hover
{
	cursor:pointer;
}
div#body{
	width:1200px;
	margin:0 auto;
	background-color:#6C6;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
article{
	display: table-row;
}
aside#left,aside#right,section{
	display:table-cell;
	vertical-align:top;
}
aside#left{
	width:250px;
}
section{
	width:850px;
	padding:0px 4px;
}
aside#right{
	width:150px;
}
aside#left>div{
	border:1px solid #206AB5;
	border-radius:4px;
	margin-bottom:10px;
}
aside#left>div>p{
	background-color:#206AB5;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	color:white;
	height:35px;
	padding-top:5px;
}
aside#left>div>ul{
	padding-left:10px;
	font-size:14px;
	font-family:"Times New Roman", Times, serif;
}
aside#left>div>ul>li{
	height:25px;
	list-style-position:inside;
	list-style-image:url(../Images/icon_list.jpg);
	padding-left:5px;
}
aside#left>div>ul>>li a{
	color:#206AB5;
	text-decoration:none;
}
aside#left>div>ul>li a:hover{
	color:#ff0000;
}

aside#right>div
{
	background-color:#206AB5;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	color:white;
	height:25px;
	padding-top:5px;
	border:1px solid black;
	float:right;
}
aside#right>div#sachbannhieu img{
	width:40px;
	height::50px;
	padding-left:5px;
	float:left;
	margin-bottom:5px;
}
aside#right>div#sachbannhieu a{
	text-decoration:none;
	font-size:9pt;
	font-family:"Times New Roman", Times, serif;
	color:#456c26;
	height:70px;
}

aside#right>div#sachbannhieu a:hover{
	font-weight:bold;
}
aside#right>div#lienketwebsite select{
	margin:10px;
	width:170px;
	height:30px;
	border-radius:3px;
	border:#808080 solid 1px;
	text-align:center;
}
aside#right>div#thongketruycap{
	background-color:#e1ebf3;
}
aside#right>div#thongketruycap h4{
	margin:10px;
	color:red;
}
section#_section
{
	width:750px;
	float:left;
}
section>p{
	background: linear-gradient(#a5b4c4,#206AB5,#206AB5);
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	font-size:16px;
	font-weight:bold;
	color:white;
	height:=25px;
	padding-top:5px;
}
.sach{
	width:240px;
	height:320px;
	background-color:#c7e5f2;
	margin:3px;
	border-radius:5px;
	border:1px dashed #79B22F;
	text-align:center;
	float:left;
}
.tensach{
	margin-top:5px;
	vertical-align:top;
	height:40px;
}
.tensach a{
	font-weight:bold;
	color:#133a62;
	font-size:14px;
}
.tensach a:hover{
	font-style: italic;
}
.hinhsach{
	box-shadow:: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	width:150px;
	height:200px;
	transition:all 0.5s ease;
}
.hinhsach:hover{
	transform:scale(1.1);
}
.dongia{
	margin-top: 10px;
	font-size:15px;
}
.gia{
	color:red;
	font-weight:bold;
}
.nutchonmua{
	margin:7px 0px;
	height:30px;
}
footer{
	background-color:79B22F;
	height:100px;
	padding-top:10px;
}
footer>p{
	text-align:center;
	font-size:17px;
	margin-top:5px;
}
