body#bg{
    background-image: url("../images/bg.jpg");/**/
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: 2em;
}

div#border{
    border-style: solid;
    border-color: blueviolet;
    margin-left: 15em;
    width: 60em;
    border-width: 2px;
}

div#lang{
    margin-left: 52em;
    margin-top: 1em;
}

.vertical-menu {
    width: 200px; /* Set a width if you like */
    opacity: 0.7;
  }
  
  .vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 6px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    margin-left: 2em;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    margin-left: 0em;
  }

section{
    margin-top: -24em;
    margin-left: -10em;
    margin-right: 3em;
    float: right;
}

tr#tbl td{
    width: 5px;
  }
  
  td p#TenSP{
    color: blue;
  }

  td p#giaSp{
    color: black;
  }

  p b#Tien{
    color: red;
  }

footer#ft{
    margin-top: 73em;
    border-style: solid;
    background-color: #333;
  }

  footer#ft ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    width: 950px;
  }
  
  footer#ft ul li {
    float: left;
  }
  
  footer#ft ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }