aside#slide{
    margin-left: 100px;
    width: 89%;
  }
  
  .slide-pager{
    position: relative;
  }
  .slide-control-prev{
    margin-left: 13em;
    position: absolute;
    margin-top: 12em;
    text-align: center;
    width: 25px;
    height: 60px;
    background: #F90;
    line-height: 60px;
    color: #fff;
    cursor: pointer;
    top: 102px;
    left: -34px;
    z-index: 1000;
  }
  
  .slide-control-next{
    margin-top: 12em;
    margin-right: 6em;
    position: absolute;
    text-align: center;
    width: 25px;
    height: 60px;
    background: #F90;
    line-height: 60px;
    color: #fff;
    cursor: pointer;
    right: 34px;
    top: 102px;
    z-index: 1000;
  }
  .slide-container{
      margin-left: 2em;
    height: 255px;
    width: 92%;
    overflow: hidden;
    position: relative;
  }
  .slide-stage{
    position: absolute;
  }
  .slide-image{
    float: left;
    width: 200px;
    text-align: center;
  }
  .slide-image img{
    width: 170px;
    height: 250px;
    margin: 0 auto;
  }